<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>La Mundial de Seguros</title>
</head>
<body bgcolor="#0f3462" style="margin-top:20px;margin-bottom:20px">

  <table border="0" align="center" cellspacing="0" cellpadding="0" bgcolor="white" width="650">
    <tr>
      <td>

        <table border="0" cellspacing="0" cellpadding="0" style="color:#0f3462; font-family: sans-serif;">
          <tr>
            <td>
              <img src="https://autos.lamundialdeseguros.com/mundial-logo2.ff0d1cc532d2752d.png" >
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">
              <h1 style="margin: 0px;padding-bottom: 25px; text-transform: uppercase;">Estimado </h1>
              <p style=" margin: 0px 32px;padding-bottom: 25px;line-height: 2; font-size: 15px;">
                
                Estimado/a [Nombre del cliente]:

                Le agradecemos por su pago de [Monto] por [Descripción del producto o servicio]. Adjunto encontrará su recibo para su referencia.
                
                Detalles del pago:
                
                Monto: [Monto]
                Fecha de pago: [Fecha de pago]
                Apreciamos su negocio y esperamos poder servirle nuevamente en el futuro.
                
                Si tiene alguna pregunta o necesita asistencia, no dude en contactarnos.
                
                Atentamente,
                
                La Mundial de Seguros
                
                Teléfono: +58 (424) 2031351
                Correo electrónico: info@lamundialdeseguros.com
                Sitio web: https://lamundialdeseguros.com/
                Estaremos encantados de atenderte y ayudarte a resolver cualquier duda que puedas tener.
                
                De nuevo, te damos la bienvenida a La Mundial de seguros y te deseamos una larga y fructífera relación con nosotros.
                
                Atentamente,
              
              </p>
              <h2 style="margin: 0px; padding-bottom: 25px;">La Mundial de Seguros</h2>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</body>

</html>